{% extends 'user/admin/Layout.html' %}
{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><?php echo $title;?></h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Application.php">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Courses</a>
            </li>
            
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h3 class="error"><?php echo $msg;?></h3>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    
                    
                    
                </div>
            </div>
            {% if li[9]!='0' %}
            <div class="ibox-content">
                <form name="form" method="post" onsubmit="return validate();" action="/admin_course/{{li[8]}},{{li[9]}}">
                	<h3>
						{% if li[7] %}
						{{li[7]}}
						{% endif %}
					</h3>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Course Code</label>
                                    <input type="text" class="form-control" id="ccode" name="ccode" value="{{li[10]}}" {% if li[9]=='3'  or li[9]=='4'%}readonly{% endif %} >
                                    <div id="cc" class="error"></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Course Name</label>
                                    <input type="text"  class="form-control" id="cname" name="cname" value="{{li[11]}}" {% if li[9]=='3'  or li[9]=='4'%}readonly{% endif %}>
                                    <div id="cn" class="error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="row">
                                {% if li[9] == '2' or li[9] == '1' %}
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Course Duration</label>
                                    <select class="form-control m-b" name="duration" name="duration">
                                        <option>{{li[12]}}</option>
                                        <option>1 Month</option>
                                        <option>2 Months</option>
                                        <option>3 Months</option>
                                        <option>6 Months</option>
                                        <option>12 Months</option>
                                        <option>18 Months</option>
                                        <option>24 Months</option>
                                    </select>
                                    <div id="cd" class="error"></div>
                                </div>
                                {% else %}
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Course Duration</label>
                                    <input type="text" class="form-control" id="dur" name="dur" value="{{li[12]}}" {% if li[9]=='3'  or li[9]=='4' %}readonly{% endif %}>
                                </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Course Fees</label>
                                    <input type="text" class="form-control" id="cfee" name="cfee" value="{{li[13]}}" {% if li[9]=='3'  or li[9]=='4'%}readonly{% endif %}>
                                    <div id="cf" class="error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1">Course Modules</label>
                                    <textarea class="form-control" name="modules" id="modules" rows="4" {% if li[9]=='3' or li[9]=='4'%}readonly{% endif %}>{{li[14]}}</textarea>
                                    <div id="cm" class="error"></div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1">Course Career</label>
                                    <textarea class="form-control" name="car" id="car" rows="4"  {% if li[9]=='3'  or li[9]=='4' %}readonly{% endif %}>{{li[15]}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>    
                    {% if li[9] == '1' %}
                    <button type="submit" id="Save_Course" name="Save_Course" class="btn btn-w-m btn-success">Save</button>
                    {% endif %}
                    {% if li[9] == '2' %}
                    <button type="submit" id="Update_Course" name="Update_Course" class="btn btn-w-m btn-success">Update</button>
                    {% endif %}
                    {% if li[9] == '3' %}
                    <button type="submit" id="Delete_Course" name="Delete_Course" class="btn btn-w-m btn-danger">Delete</button>
                    {% endif %}
                    <a href="/admin_course/{{0}},{{0}}"><button type="button" class="btn btn-w-m btn-info">Cancel</button></a>
                
                </form>
            </div>
            {% else %}
            <div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Fees</th>
                        <th>Duration</th>
                        <th><a href="/admin_course/{{0}},{{1}}" style="text-decoration: none;"> <button class="btn btn-primary">New Course</button></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in course %}
                    <tr class="gradeX">
                        <td>{{course.course_code}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.fees}}</td>
                        <td>{{course.duration}}</td>
                        <td class="center">
                                <a href="/admin_course/{{course.course_code}},{{2}}" style="text-decoration: none;"> <button class="btn btn-success">Modify</button></a>
                                <a href="/admin_course/{{course.course_code}},{{3}}" style="text-decoration: none;"> <button class="btn btn-danger">Delete</button></a>
                                <a href="/admin_course/{{course.course_code}},{{4}}" style="text-decoration: none;"> <button class="btn btn-info">Show</button></a>
                                <a href="/question/{{course.course_code}}" style="text-decoration: none;"> <button class="btn btn-warning">Question</button></a>
                        </td>
                    </tr>
                        {% endfor %}
                    
                    </tbody>
                    <tfoot>
                    </tfoot>
                    </table>
                </div>
            </div>

        </div>
    {% endif %}
    </div>
    </div>
</div>
    

<script>
    var chk_cc=/^[a-zA-Z0-9 \-]{1,10}$/;
    var chk_cn=/^[a-zA-Z .0-9#++]{1,50}$/;
    var chk_fees=/^[0-9]{3,7}$/;
    var chk_mod=/^[a-zA-Z0-9\-+.,# ]{1,100}$/;
    
    function validate()
    {
        var ccode=form.ccode.value;
        var cname=form.cname.value;
        var cfee=form.cfee.value;
        var duration=form.duration.value;
        var modules=form.modules.value;
        var car=form.car.value;
        var flag=1;
        if(!chk_cc.test(ccode))
        {
            document.getElementById('cc').innerHTML = "You Must Enter a Valid Course Code";
            if(flag==1)
                form.ccode.focus();
            flag=0;
        }
        else
            document.getElementById('cc').innerHTML = "";
        if(!chk_cn.test(cname))
        {
            document.getElementById('cn').innerHTML = "You Must Enter a Valid Course Name";
            if(flag==1)
                form.cname.focus();
            flag=0;
        }
        else
            document.getElementById('cn').innerHTML = "";
        if(duration=="Select Duration")
        {
            document.getElementById('cd').innerHTML = "You Must Select a Duration";
            if(flag==1)
                form.duration.focus();
            flag=0;
        }
        else
            document.getElementById('cd').innerHTML = "";
        if(!chk_fees.test(cfee))
        {
            document.getElementById('cf').innerHTML = "You Must Enter a Valid Course Fee";
            if(flag==1)
                form.cfee.focus();
            flag=0;
        }
        else
            document.getElementById('cf').innerHTML = "";
        if(!chk_mod.test(modules))
        {
            document.getElementById('cm').innerHTML = "You Must Enter a Valid Course Modules";
            if(flag==1)
                form.modules.focus();
            flag=0;
        }
        else
            document.getElementById('cm').innerHTML = "";
        if(flag==1)
            return true;
        else
            return false;
        
    }

</script>
{% endblock %}