{% extends 'layout.html' %}
{% block body %}
<div class="all-title-box2">
		
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>The leading global marketplace for<br>learning and instruction</h3>
                    <p class="lead">By connecting students all over the world to the best instructors, eLearning is helping individuals reach their goals and pursue their dreams.</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>2020 BEST SmartEDU education website</h4>
                        <h2>Upskill your self with virtual training</h2>
                        <p>SmartEDU helps organizations of all kinds prepare for the ever-evolving future of work. Our curated collection of top-rated business and technical courses gives companies, governments, and nonprofits the power to develop in-house expertise and satisfy employees’ hunger for learning and development.</p>

                        <p> Empower your remote workforce to learn what they need, when they need it. Online learning from global experts across tech, business, wellness and more to help your employees do whatever comes next. </p>

                        
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{{ url_for('static',filename='images/about_02.jpg')}}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{{ url_for('static',filename='images/about_03.jpg')}}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>20+ fresh & in-demand courses</h2>
                        <p>High-quality content alone isn’t sufficient. Our marketplace content model ensures that we always have the most recent and high-quality content that makes learning enjoyable. We’ll always have the latest skills on the most important topics your employees need to stay ahead of the curve.</p>

                        <p> Our courses come from SmartEDU’s thriving marketplace, where thousands of courses on the most popular skills are added every month.</p>

                        
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p align="justify">By providing a rigorous, relevant, cutting-edge, technology based education the SmartEDU Virtual Academy prepares students for college, careers, and for the global community of life-long learners by engaging one student at a time. Students complete meaningful projects and solve challenging problems while interning in the community by learning and applying academic skills.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p  align="justify">We believe students will become productive citizens when they are challenged and mentored in leadership, problem solving, and critical thinking skills. Students experience a rigorous blended online learning environment that prepares them for advanced education options, future employment, and post-secondary education.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>History</h3>
						<div class="tr-pa">H</div>
						<p align="justify">The term “e-Learning” has only been in existence since 1999 when the word was first utilized at a CBT systems seminar. Other words also began to spring up in search of an accurate description such as “online learning” and “virtual learning”. However, the principles behind e-learning have been well documented throughout history, and there is even evidence which suggests that early forms of e-learning existed as far back as the 19th century.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}